<% content_for :page_header, "Get in Touch" %>
<% content_for :page_description, "It's good to talk" %>
<%= flash[:notice] %>
<%= form_tag("static_pages/contact_submission") do %>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: 'form-control', placeholder: "Enter Name" %>
    </div>
    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, class: 'form-control', placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, class: 'form-control', placeholder: "Enter Message" %>
    </div>
  </div>
</div>
<%= submit_tag "Send", class: 'btn btn-primary' %>
<% end %>