<% content_for :page_header, "Products" %>
<% content_for :page_description, "Our SEO packages and services" %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <%= image_tag(product.image_url, class: 'img-responsive') %>
        <%= link_to product.name, '#', class: 'h2' %>
        <p><%= product.description %></p>
        <p>£ <%= product.price %></p>
        <p><%= link_to 'Show', product, class: 'btn btn-primary' %> <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning' %> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
      </div>
    <% end %>
  </div>
  
  <br>
  
  <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
</div>